* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    background-color: paleturquoise;
    color: white;
    border: solid black 2px;
    text-align: left;
    padding: 20px;
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
}

.header nav ul {
    list-style-type: none;
    text-align: right;
}

.header a {
    color: grey;
    display: flex;
    text-align: right;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-align: right;
}

.subtitle {
    background-image: url("../images/Landscape1.jpeg");
    background-size: cover;
    background-position: center;
    height: 150px;
    text-align: right;
}

.subtitle p {
    background-color: aliceblue;
    text-align: right;
}

.about-me h1 {
    font-size: 50px;
}

.about-me p {
    text-align: right;
}

.surf-report {
    background-image: url("../images/Landscape2.jpg");
    background-size: cover;
    background-position: center;
    max-width: 10%;
}

.led-wall {
    background-image: url("../images/Landscape7.jpg");
    background-size: cover;
    background-position: center;
    max-width: 10%;
}

.calculator {
    background-image: url("../images/Landscape3.jpg");
    background-size: cover;
    background-position: center;
    max-width: 10%;
}

.run-buddy {
    background-image: url("../images/Landscape4.jpg");
    background-size: cover;
    background-position: center;
    max-width: 10%;
}

.pastel-puzzel {
    background-image: url("../images/Landscape5.jpg");
    background-size: cover;
    background-position: center;
    max-width: 10%;
}

.buddy {
    background-image: url("../images/Landscape6.jpg");
    background-size: cover;
    background-position: center;
    max-width: 10%;
}

.contact-me {
    background-color: paleturquoise;
    color: white;
    border: solid black 2px;
    text-align: left;
    height: 90px;
    font-family: sans-serif;
}

.contact-me ul {
    list-style-type: none;
    text-align: right;
}

.contact-me a {
    color: grey;
    display: flex;
    text-align: right;
}

.contact-me ul li {
        display: inline-block;
        margin-left: 25px;
        text-align: right;
}

footer {
    background-color: paleturquoise;
    color: grey;
}